---
import Base from '../layouts/Base.astro';
import VantaBg from '../components/VantaBg.astro';
import SiteMotion from '../components/SiteMotion.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import FormatStrip from '../components/FormatStrip.astro';
import HowItWorks from '../components/HowItWorks.astro';
import UseCases from '../components/UseCases.astro';
import Numbers from '../components/Numbers.astro';
import Plans from '../components/Plans.astro';
import FinalCta from '../components/FinalCta.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <VantaBg />
  <div class="site">
    <Nav />
    <main>
      <Hero />
      <FormatStrip />
      <HowItWorks />
      <UseCases />
      <Numbers />
      <Plans />
      <FinalCta />
    </main>
    <Footer />
  </div>
  <SiteMotion />
</Base>
